In [23]:
# -q (quiet) 옵션은 설치 로그를 안보여줌(조용히함)
%pip install -q seaborn
# 타이타닉 데이터셋 불러오기
# (pandas에 기본 내장된 예제 데이터셋)
import seaborn as sns
import pandas as pd

# titanic 데이터 DataFrame
titanic = sns.load_dataset('titanic')

# 처음 5개 행 보기
print("타이타닉 데이터 미리보기:")
print(titanic.head())

# 데이터셋 정보 확인
print("\n데이터셋 정보:")
print(titanic.info())

# 데이터 요약 통계
print("\n데이터 요약 통계:")
print(titanic.describe())

Note: you may need to restart the kernel to use updated packages.
타이타닉 데이터 미리보기:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

데이터셋 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

데이터 요약 통계:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
# COl별 결측치 합계 
titanic.isna().sum()


#승객 등급 등장 빈도 (1,2,3 등석)
print(titanic['pclass'].value_counts())

# 성별 빈도 (남/녀)
titanic['sex'].value_counts()
# 생존 여부 빈도 (생존자/사망자)
titanic['survived'].value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

survived
0    549
1    342
Name: count, dtype: int64

In [55]:
# 성별에 따른 생존율
titanic.groupby('sex')['survived'].mean()
titanic.groupby('sex').agg({'survived':['mean']})

#승객 등급에 따른 생존율 
titanic.groupby('pclass')['survived'].mean()

pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64

In [ ]:
### 성별& 승객 등급에 따른 생존
titanic.groupby(['sex','pclass'])['survived'].mean()
#피벗테이블
titanic.pivot_table(
    values='survived',
    index='sex',
    columns='pclass',
    aggfunc='mean'
)


# 나이 그룹별 생존율 
titanic['age_group'] = pd.cut(
    titanic['age'],
    bins=[0,12,18,35,60,100], #초과~이하
    labels=['아동','청소년','청년','중장년','노년']

)
titanic.head()

#카테고리가 있는데, 해당되는 내용이 없을때 표시한다 안한다. observed 옵션 
print(titanic.groupby('age_group')['survived'].mean())

# 성별 + 나이그룹으로 생존율 확인 

import pandas as pd

# 나이 그룹화 (bins와 labels를 이용해 구간 생성)
titanic['age_group'] = pd.cut(
    titanic['age'],
    bins=[0, 12, 18, 35, 60, 100],  # 구간 경계
    labels=['아동', '청소년', '청년', '중장년', '노년']
)

# 성별, 나이 그룹별 생존율 계산
result = titanic.groupby(['sex', 'age_group'])['survived'].mean()

titanic.pivot_table

age_group
아동     0.579710
청소년    0.428571
청년     0.382682
중장년    0.400000
노년     0.227273
Name: survived, dtype: float64

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_33064\1470512045.py:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(titanic.groupby('age_group')['survived'].mean())
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_33064\1470512045.py:36: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = titanic.groupby(['sex', 'age_group'])['survived'].mean()

<bound method DataFrame.pivot_table of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone age_group
0      man        True  NaN  Southampton    no  False        청년
1    woman       False    C    Cherbourg   yes  False       중장년
2    woman       False  NaN  Southampton   yes   True        청년
3    woman       False    C  Southampton   yes  False        청년
4      man        True  NaN  Southampton    no   True        청년
..     ...         ...  ...          ...   ...    ...       ...
886    man        True  NaN  Southampton    no   True        청년
887  woman       False    B  Southampton   yes   True        청년
888  woman       False  NaN  Southampton    no  False       NaN
889    man        True    C    Cherbourg   yes   True        청년
890    man        True  NaN   Queenstown    no   True        청년

[891 rows x 16 columns]>

In [38]:
import seaborn as sns

# 데이터 불러오기 (문자열 따옴표 누락 수정)
titanic = sns.load_dataset('titanic')

# 결측치 개수 확인
missing = titanic.isna().sum()

# 결측치가 있는 컬럼만 필터링
print(missing[missing > 0])

# 결측치 비율(%) 계산
missing_p = titanic.isna().mean() * 100

# 결측치 비율이 있는 컬럼만 출력
print(missing_p[missing_p > 0])

age            177
embarked         2
deck           688
embark_town      2
dtype: int64
age            19.865320
embarked        0.224467
deck           77.216611
embark_town     0.224467
dtype: float64

In [53]:
# 결측치 채우기
# age: 중요한 정보 : 평균/중앙값 대체
# embarked: 가장 많은 사람들이 탄 곳으로 대체
# deck: 추측 불가능(의믹 없음) -> 삭제

# 필요하다면, 카피떠서 진행
titanic_processed = titanic.copy()

# 비어있던 행 마스킹
age_mask =titanic['age'].isna()

# 나이 결측치 채우기 (남녀상관없이 전체평균으로 채움)
mean_age = titanic['age'].mean()
titanic_processed['age'] = titanic['age'].fillna(mean_age)

# 결측치 있는지 재확인
titanic_processed.isna().sum()

# 평균으로 채워진 값들만 확인
titanic_processed.loc[age_mask]

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

In [ ]:
# 전체평균으로 대체하는게 옳을까..?
# 성별/객실별로 평균을 추정하는건?

# 모든 사람들을 성별/객실 그룹의 평균 나이로 바꾼 Series
print(titanic.groupby(['sex','pclass'])['age'].mean())
mean_ages = titanic.groupby(['sex', 'pclass'])['age'].transform('mean')

# titanic 의 age col 중 빈 값만, mean_ages로 채움.
titanic_processed['age'] = titanic['age'].fillna(mean_ages)

# 원래 비어있던 애들만 확인 
titanic_processed.loc[ titanic['age'].isna() ]

sex     pclass
female  1         34.141405
        2         28.748661
        3         24.068493
male    1         39.287717
        2         30.653908
        3         27.372153
Name: age, dtype: float64

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

In [58]:
# embarked (탑승 도시) -> 최빈값(가장 많이 탄 곳)
# 비어있는 항구 개수
titanic['embarked'].isna().sum()

#최빈값 (Series - )
mode_embarked= titanic['embarked'].mode()[0] #Series 에서 1개 뽑기

titanic_processed['embarked'] = titanic['embarked'].fillna(mode_embarked)

titanic_processed['embarked'].isna().sum()

np.int64(0)

In [63]:
# deck 은 77%가 비어있음 -> 삭제
titanic['deck'].isna().mean()*100 # 빈값 비율

# 'deck' 컬럼은 삭제
titanic_processed.drop('deck',axis=1,inplace=True)

titanic_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB